@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* global.css */
/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
}

ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}


li {
  margin-bottom: 0.5rem;
  color: black;
}

h1 {
  font-size: 1.5rem;

  color: green;
}

h2 {
  font-size: 1rem;
  color: green;
}

h3 {
  font-size: 1.5rem;

  color: green;
}

h4 {
  font-size: 1.25rem;

  color: green;
}

h5 {
  font-size: 1rem;

  color: green;
}

h6 {
  font-size: 0.875rem;

  color: green;
}




p {
  margin: 1rem 0;
  line-height: 1.5;
  color: black
}


a {
  color: lightseagreen;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  text-decoration: underline;
}